@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@mixin background-squares($rot) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    transform: rotate($rot);
    -webkit-transform: rotate($rot);
    background:rgba(255, 255, 255, .15);   
}

body { 
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    align-items: center;
    font-family: "Poppins";
    justify-content: center;
    background: linear-gradient(to right, #333399, #ff00cc);
}

.login-card {
    width: 450px;
    padding: 4rem;
    position: relative;
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);

    &::before {@include background-squares(-5deg);}

    &::after {@include background-squares(5deg);   }

    @media (max-width: 576px) {
        width: 300px;
        padding: 1rem;     
    }

    @media (max-width: 370px) {width: 220px;}

    @media (max-width: 290px) {width: 150px;}
}

.login-card-logo {
    text-align: center;

    & img {
        width: 60px;
        max-width: 100%;
    }
}

.login-card-header {
    text-align: center;
    margin-bottom: 2rem;

    & h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: .5rem;

        @media (max-width: 767px) {font-size: 1rem;}
    }
}

.telegram-logo {
    text-align: center;

    & img {
        width: 60px; 
        max-width: 100%;
    }
}

.login-card-footer {
    gap: 1.5rem;
    opacity: .8;
    display: flex;
    margin-top: 3rem;
    text-align: center;  
    letter-spacing: 1px;
    flex-direction: column;
    text-transform: uppercase;
    font-size: calc(1rem * .8);

    @media (max-width: 576px) {
        margin-top: 1rem;
        gap: .5rem; 
    }

    @media (max-width: 290px) {
        margin: .5rem;
        gap: .2rem;
    }
}