@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@mixin background-squares($rot) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    transform: rotate($rot);
    -webkit-transform: rotate($rot);
    background:rgba(255, 255, 255, .15);   
}

body { 
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    align-items: center;
    font-family: "Poppins";
    justify-content: center;
    background: linear-gradient(to right, #333399, #ff00cc);
}

.login-card {
    width: 450px;
    padding: 4rem;
    position: relative;
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);

    &::before {@include background-squares(-5deg);}

    &::after {@include background-squares(5deg);   }

    @media (max-width: 576px) {
        width: 300px;
        padding: 1rem;     
    }

    @media (max-width: 370px) {width: 220px;}

    @media (max-width: 290px) {width: 170px;}
}

.login-card-logo {
    text-align: center;

    & img {width: 60px; max-width: 100%;}
}

.login-card-header {
    text-align: center;
    margin-bottom: 2rem;

    & h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    & h2 {
        font-size: calc(1rem * .8);
        font-weight: 600;
        opacity: .8;
    }
}

.login-card-form {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.login-card-form .form-item {
    position: relative;
}

.login-card-form .form-item .form-item-icon {
    opacity: .4;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    position: absolute;
}

.login-card-input {
    width: 370px;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    transition: background .5s; 
    padding-left: calc(1rem * 3.5);
    background: rgba(255, 255, 255, .3);
    
    &:focus {background: white;}

    @media (max-width: 576px) {width: 220px;}

    @media (max-width: 370px) {width: 140px;}

    @media (max-width: 290px) {width: 94px;}
    
}

.login-card-button {
    outline: none;
    padding: 1rem;
    color: white;
    background: black;
    letter-spacing: 2px;
    border-radius: 100px;
    text-transform: uppercase;
    transition: background .5s;
    
    &:hover {
        background-color: rgba(0, 0, 0, .85);
        cursor: pointer;
    }

    @media (max-width: 290px) {width: 173px;}
}


.login-card-footer {
    gap: 1.5rem;
    opacity: .8;
    display: flex;
    margin-top: 3rem;
    text-align: center;  
    letter-spacing: 1px;
    flex-direction: column;
    text-transform: uppercase;
    font-size: calc(1rem * .8);

    @media (max-width: 576px) {
        margin-top: 1rem;
        gap: .5rem; 
    }

    @media (max-width: 290px) {
        margin: .5rem;
        gap: .2rem;
    }
}